@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

::selection {
    background-color: var(--main-color);
    color: var(--text-color);
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--btn-hover-color);
}

:root {
    --main-color: #1db954;
    --sec-color: #ccc;
    --text-color: #ffffff;
    --sec-text-color: #aaaaaa;
    --bg-color: #111111;
    --btn-hover-color: #18a349;
    --main-font-family: "Poppins";
}

body {
    background-color: var(--bg-color);
}

/* Navbar */

.custom-navbar {
    background: var(--bg-color);
}

.custom-navbar .navbar-brand {
    color: var(--main-color);
    font-size: 28px;
    font-weight: bolder;
}

.custom-navbar .navbar-brand:hover {
    color: var(--main-color);
}

.navbar-nav .nav-item .nav-link {
    color: var(--sec-color);
    margin-right: 10px;
    font-weight: 600;
    transition: 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--text-color);
    transform: scale(1.15);
}

.navbar .form-control {
    width: 150px;
}

.navbar form {
    width: 220px;
}

.navbar .text-white {
    white-space: nowrap;
}

.play-btn {
    display: inline-block;
    background: var(--main-color);
    color: var(--text-color);
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
}

.play-btn:hover {
    background: var(--btn-hover-color);
    color: var(--text-color);
}

.register-btn:hover,
.explore-btn:hover,
.play-btn:hover {
    background-color: var(--btn-hover-color);
}

/* Banner */

.home-banner {
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.203)), url('../assets/banner/homebanner-img.jfif');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-banner h1 {
    color: var(--text-color);
    font-size: 65px;
    font-weight: 650;
    text-shadow: 0 0 2px var(--text-color);
}

.home-banner p {
    font-size: 20px;
    color: var(--text-color);
    font-weight: 600;
}

.btn-success {
    background: var(--main-color);
    border: none;
}

.btn-success:hover {
    background-color: var(--btn-hover-color);
}

/* Latest Music */

.latest-music {
    padding: 40px 0;
    margin-top: 50px;
}

.latest-videos,
.genres-section {
    padding: 40px 0;
}

.music-title,
.artists-title,
.videos-title,
.genres-title {
    text-align: center;
    margin-bottom: 50px;
}

.music-title h2,
.artists-title h2,
.videos-title h2,
.genres-title h2 {
    color: var(--text-color);
    font-size: 40px;
    font-weight: 700;
}

.music-title p,
.artists-title p,
.videos-title p,
.genres-title p {
    color: var(--sec-text-color);
    margin-top: 10px;
}

.music-card,
.video-card {
    background-color: #1a1a1a;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
}

.music-card:hover,
.artist-card:hover,
.video-card:hover,
.genre-card:hover {
    transform: translateY(-8px);
}

.music-img,
.video-image {
    position: relative;
}

.music-img img,
.video-image img {
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.new-badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 5px 12px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 30px;
}

.music-content,
.video-content {
    padding: 15px;
}

.music-content h5,
.video-content h5 {
    color: var(--text-color);
    margin-bottom: 8px;
    font-size: 20px;
}

.music-content p,
.video-content p {
    color: var(--sec-color);
    margin-bottom: 20px;
    font-size: 14px;
}

/* Artists Section */

.artists-section {
    padding: 80px 0;
}

.artist-card {
    background: #181818;
    border-radius: 20px;
    padding: 15px 10px;
    text-align: center;
    transition: .3s;
    height: 100%;
}

.artist-card img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #1db954;
}

.artist-card img:hover {
    cursor: pointer;
}

.artist-card h5 {
    color: var(--text-color);
    font-size: 20px;
    margin-bottom: 4px;
}

.artist-card span {
    color: var(--sec-text-color);
    font-size: 16px;
}

.artist-link{
    text-decoration:none;
    display:block;
}

.section-heading {
    color: var(--main-color);
    font-weight: 600;
    font-size: 30px;
}

/* Latest Videos  */

.video-play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.video-play-icon i {
    color: var(--text-color);
    font-size: 30px;
}

.watch-btn {
    display: inline-block;
    width: 100%;
    background-color: var(--main-color);
    color: var(--text-color);
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.watch-btn:hover {
    background-color: var(--btn-hover-color);
    color: var(--text-color);
}

/* Genres Section */

.genre-card {
    height: 110px;
    border-radius: 20px;
    padding: 25px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;
    cursor: pointer;
}

.genre-card h3 {
    color: var(--text-color);
    font-size: 28px;
    font-weight: 700;
    z-index: 2;
}

.genre-card i {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 70px;
    color: rgba(255, 255, 255, 0.15);
    transform: rotate(-15deg);
}

.genre-link {
    text-decoration: none;
    display: block;
}

/* Colors */

.genre-1 {
    background: linear-gradient(135deg, #ff512f, #dd2476);
}

.genre-2 {
    background: linear-gradient(135deg, #654ea3, #eaafc8);
}

.genre-3 {
    background: linear-gradient(135deg, #1e3c72, #2a5298);
}

.genre-4 {
    background: linear-gradient(135deg, #134e5e, #71b280);
}

.genre-5 {
    background: linear-gradient(135deg, #f46b45, #eea849);
}

.genre-6 {
    background: linear-gradient(135deg, #42275a, #734b6d);
}

.genre-7 {
    background: linear-gradient(135deg, #757f9a, #d7dde8);
}

.genre-8 {
    background: linear-gradient(135deg, #fc466b, #3f5efb);
}

/* Footer */

.footer-section {
    margin-top: 100px;
}

.footer-about h2 {
    color: var(--main-color);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-about p {
    color: var(--text-color);
    line-height: 1.8;
}

.footer-links h4,
.footer-social h4 {
    color: var(--text-color);
    margin-bottom: 20px;
    text-shadow: 0 0 1px var(--text-color);
}

.footer-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 12px;
}

.footer-links ul li a {
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s;
}

.footer-links ul li a:hover {
    color: var(--main-color);
}

.footer-social p {
    color: var(--text-color);
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    width: 45px;
    height: 45px;
    background-color: #1f1f1f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a i {
    color: var(--text-color);
    font-size: 18px;
}

.social-icons a:hover {
    background-color: var(--main-color);
}

.footer-bottom {
    border-top: 1px solid #222222;
    margin-top: 60px;
    padding: 25px 0;
    text-align: center;
}

.footer-bottom p {
    color: var(--sec-color);
    margin: 0;
}

/* Media Queries */

@media screen and (max-width: 1200px) {

    .user-actions {
        margin-top: 12px;
    }
}

@media screen and (max-width: 992px) {

    .music-content h5,
    .video-content h5 {
        font-size: 17px;
    }
}

@media screen and (max-width: 792px) {

    .home-banner h1 {
        font-size: 55px;
    }

    .home-banner p {
        font-size: 17px;
    }

    .genre-card h3 {
        font-size: 24px;
    }

    .footer-about,
    .footer-links,
    .footer-social {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}

@media(max-width:576px) {

    .music-img img {
        height: 200px;
    }

    .artist-card h5 {
        font-size: 15px;
    }

    .artist-card span {
        font-size: 12px;
    }

    .video-image img {
        height: 210px;
    }

    .video-content h4 {
        font-size: 18px;
    }

    .video-play-icon {
        width: 55px;
        height: 55px;
    }

    .video-play-icon i {
        font-size: 24px;
    }

    .latest-music,
    .latest-videos,
    .genres-section {
        padding: 100px 30px;
    }

    .genre-card {
        height: 110px;
    }

    .genre-card h3 {
        font-size: 22px;
    }

    .genre-card i {
        font-size: 55px;
    }

    .footer-about,
    .footer-links,
    .footer-social {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}

@media screen and (max-width: 482px) {

    .home-banner h1 {
        font-size: 40px;
        padding: 10px;
    }

    .home-banner p {
        font-size: 14px;
    }

    .latest-music,
    .latest-videos,
    .genres-section {
        padding: 100px 10px;
    }
}

@media screen and (max-width: 360px) {
    .custom-navbar .navbar-brand {
        font-size: 24px;
    }
}